// Main less file for your application.
// Use `@import` to use other less files
// relative to 'app/css' or 'vendor/css'.
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url("https://fonts.gstatic.com/s/materialicons/v22/2fcrYFNaTjcS6g4U3t-Y5ZjZjT5FdEJ140U2DJYC3mY.woff2") format('woff2');
}
@font-face {
  font-family: 'pressStart';
  src: url('/fonts/PressStart2P-Regular.ttf');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
@purple: #312C41;

div .nav-wrapper {
  background-color: @purple;
}

.welcome {
  background: linear-gradient(66deg, #071f5a,#312C41, #1a485a, #50024d, #8a1130, #4c0c70);
  background-size: 1200% 1200%;
  -webkit-animation: AnimationName 250s ease infinite;
  -moz-animation: AnimationName 250s ease infinite;
  -o-animation: AnimationName 250s ease infinite;
  animation: AnimationName 250s ease infinite;
  @-webkit-keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
  @-moz-keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
  @-o-keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
  @keyframes AnimationName {
    0% {
      background-position: 0 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0 50%;
    }
  }
  padding: 10px;
  background-color: @purple;
}

.titre{
  font-family: 'pressStart' ;
  font-size: 30px;
}

#submit {
  background-color: @purple;
  width: 100%;
  margin-top: 20px;
}

.carousel{
  margin-top: 0;
}
h1{
  margin-top: 20px;
  font-size: 30px;
  margin-left: 30px;
}
.card{
  width: 200px;
  height: 250px;
}
img{height: 150px; }

.carousel-item.active{
  width: 360px !important;
  height: 300px !important;

}

.carousel.carousel-slider.center.ng-scope.initialized{
  width: 340px !important;


}

@media (max-width: 500px) {
  .carousel{

height: 300px !important;
    width: 360px !important;
    margin-left: 30px ;
  }
  .carousel.carousel-slider.center.ng-scope.initialized{
    width: 380px !important;

}
}
.md-datepicker-triangle-button.md-button.md-icon-button {
    top: 0;
  }
