.slideshow{
  width: 350px;
  height: 200px;
  overflow: hidden;
  border: 3px solid black;
}

.slideshow ul{
  width: 400%;
  height: 200px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slideshow li {
  float: left;
}
#li1{
  background-color: black;
}
#li2{
  background-color: red;
}
#li3{
  background-color: green;
}
