.md-datepicker-input-container {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: none !important;
    display: inline-block;
    width: auto;
}

.btn-floating.btn-large {
    float: right;
}

.md-no-sticky {
    text-align: center;
    height: 160px;
    background-color: #eeeeee;
    border-bottom: solid 1px;
    border-color: grey;
}

.validateButton {
    color: red;
    margin-right: 10px;
}

.clickValide {
    margin-left: 300px;
}

.bckgrd-participant {
    /*margin-left: -20px;*/
    color: grey;
    margin-top: -1px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
    height: 70px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #D8D8D8;
    background-color: #eeeeee;
}


.bckgrd-bouton {
    padding-top: 60px;
    color: grey;
    margin-left: -20px;
    height: 160px;
    width: 413px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #D8D8D8;
    background-color: #eeeeee;
}

.bckgrd-bouton-Activity {
    padding-top: 60px;
    color: grey;
    height: 160px;
    width: 413px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #D8D8D8;
    background-color: #eeeeee;
}


.circleDefi {
    border-radius: 50%!important;
    height: 100px !important;
    width: 100px !important
}

.validate {
    margin-left: 250px;
}

.timefield {
    margin-right: 40px;
    float: right;
}

.blocEntier {
    margin-left: 20px;
    margin-right: 20px;
}

.btnblue {
    margin-left: 40px;
    width: 300px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

.btn.blue {
    margin-left: 5%;
    width: 90%;
    min-width: 50px;
    border-radius: 2px;
    background-color: #039be5 !important;
    color: white;
}

.chpsSearch {
    background: white !important;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    margin-left: 30px;
    color: #807d7d;
}

.nav-wrapper {
    padding-top: 8px !important;
    padding-left: 16px !important;
}

.valideButton {
    margin-left: 80%;
    margin-right: 10px;
}

.gravatar {
    text-align: center;
    margin-bottom: 30px;
}

.checkmodif {
    margin-left: 20px;
}

.buttonSave {
    margin-left: 20px;
}


/*.row {
    margin-left: 10px;
}*/

.loupe {
    margin-left: 90%;
}

.inviteNavigate {
    color: #A4A4A4;
    margin-left: 90%;
}

#inviteAlign {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 1px;
}

.checkBox {
    margin-top: 20px;
}

.invitePseudo {
    margin-top: 20px;
}

.ng-pristine {
    border-bottom: 0px !important;
}

.ng-valid {
    border-bottom: 0px !important;
}

.md-datepicker-input {
    border-bottom: 0px !important;
}

.blocInput {
    margin-top: -20px;
    height: 70px;
    width: 392px;
}

.blocInput1 {
    padding-right: 10px;
    margin-top: -20px;
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    height: 70px;
    width: 392px;
}

.blocInput2 {
    border-color: #D8D8D8;
    height: 70px;
    width: 392px;
}

.blocInput3 {
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    height: 70px;
    width: 392px;
}

.blocInput4 {
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    height: 70px;
    width: 392px;
}

.blocInput5 {
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    height: 70px;
    width: 392px;
}

.blocInput6 {
    margin-left: 16px;
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    height: auto;
    width: 392px;
}

.formBlocDiv {
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    padding-bottom: 60px;
    text-align: left !important;
    width: 392px;
    height: 60px;
}

.datepicker {
    border-bottom: 1px solid;
    border-color: #D8D8D8;
    padding-bottom: 30px;
    text-align: left;
    width: 392px;
    height: 70px;
}

.policeInput {
    font-size: 2em;
}

.labelForm {
    color: grey;
    font-size: 12px;
}

.alignInput {
    color: #A4A4A4;
    display: flex;
    justify-content: space-between;
}

.inlineInvite {
    display: inline-flex;
}
.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {

    color: black!important;
    background-color: white;
}

.marquage{
  padding-bottom: 5px;
  margin-top: 20px;
  font-size: 12px;
  color: grey;
}
.but{
    background-color: white;
}
.border{
  border-bottom: 1px solid #EBEBEB;
}
.s2{margin-top: 21px}

.position-classement {
  margin-left: 2vw!important;
}
