.md-datepicker-input-container {
    position: relative;
    border-bottom-width: 1px;
    border-bottom-style: none !important;
    display: inline-block;
    width: auto;
}

.btn-floating.btn-large {
    float: right;
}

.md-no-sticky {
margin-left: auto;
margin-right: auto;
    text-align: center;
    height: 160px;
    background-color: #eeeeee;
    border-bottom: solid 1px;
    border-color: #D8D8D8;
}

.validateButton {
    color: red;
    margin-right: 10px;
}

.clickValide {
    margin-left: 300px;
}

.bckgrd-participant {
    color: grey;
    margin-bottom: 10px;
    margin-top: -1px;
    padding-top: 10px;
    height: 70px;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    border-top: 1px solid;
    border-color: #d8d8d8;
    background-color: #eeeeee;
}

.bckgrd-bouton {
    color: grey;
    height: 160px;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    border-top: 1px solid;
    border-color: #d8d8d8;
    background-color: #eeeeee;
    padding-top: 12%
}

.bckgrd-bouton-Activity {
    padding-top: 60px;
    color: grey;
    height: 160px;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: #d8d8d8;
    background-color: #eeeeee;
}

.circleDefi {
    border-radius: 50%!important;
    height: 100px !important;
    width: 100px !important
}

.validate {
    margin-left: 250px;
}

.timefield {
    margin-right: 40px;
    float: right;
}

.btnblue {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    color: white;
    text-decoration: none;
}

.btn.blue {

    width: 90%;
    min-width: 50px;
    border-radius: 2px;
    background-color: #039be5 !important;
    color: white;
}

.chpsSearch {
    background: white !important;
    height: 40px;
    width: 300px;
    border-radius: 2px;
    margin-left: 30px;
    color: #807d7d;
}

.nav-wrapper {
    padding-top: 8px !important;
    padding-left: 16px !important;
}

.valideButton {
    margin-left: 80%;
    margin-right: 10px;
}

.gravatar {
    text-align: center;
    margin-bottom: 30px;
}

.checkmodif {
    margin-left: 20px;
}

.buttonSave {
    margin-left: 20px;
}

.loupe {
    margin-left: 90%;
}

.inviteNavigate {
    color: #A4A4A4;
    margin-left: 90%;
}

#inviteAlign {
  border-bottom: 1px solid;
  border-color: #d8d8d8;
    display: flex;
    justify-content: flex-start;;

}

.checkBox {
    padding-bottom:  20px;
}

.invitePseudo {
    margin-top: 10px;
    margin-left: 20px;
margin-right: auto;
}

.ng-valid {
    border-bottom: 0px !important;
}

.ng-valid {
    border-bottom: 0px !important;
}

.md-datepicker-input {
    border-bottom: 0px !important;
}

.blocInput1 {
    height: 70px;

}

.blocInput2 {
    height: 70px;
    /*width: 100%;*/
}

.blocInput3 {
    height: 70px;
    /*width: 100%;*/
}

.blocInput4 {
    height: 70px;
    /*width: 100%;*/
}

.blocInput5 {
    height: 70px;
    /*width: 100%;*/
}

.blocInput6 {
    margin-left: 16px;
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    height: 90px;
    /*width: 392px;*/
}

.formBlocDiv {
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    padding-bottom: 60px;
    text-align: left !important;
    /*width: 392px;*/
    height: 60px;
}

.datepicker {
    border-bottom: 1px solid;
    border-color: #d8d8d8;
    padding-bottom: 30px;
    text-align: left;
    /*width: 392px;*/
    height: 70px;
}

.policeInput {
    font-size: 2em;
}

.labelForm {
    color: grey;
    font-size: 12px;
}

.alignInput {
    color: #A4A4A4;
    display: flex;
    justify-content: space-between;
}

.inlineInvite {
    display: inline-flex;


}

.arrow {
    position: absolute;
    top: 15px;
    right: 10px;
}

.timer {
    height: 70px;
    margin-bottom: 20px;
}

.md-datepicker-input {
    width: 240px!important;
}

.greyBorder {
    border-bottom: 1px solid;
    border-color: #d8d8d8;
}
.valideButton{
margin-left: 200px;

}
.inviteheightAuto{
  height: 70px;
  position: absolute;
}
.tabs.tabs-transparent .tab a, .tabs.tabs-transparent .tab.disabled a, .tabs.tabs-transparent .tab.disabled a:hover {

    color: black!important;
    background-color: white;
}

.marquage{
  border-top: #D8D8D8;
  font-size: 12px;
  padding-top: 5px;
  color: grey;
}
.but{
    background-color: white;
}
.border{
  border-bottom: 1px solid #EBEBEB;
}
.s2{margin-top: 21px}

.position-classement {
  margin-left: 2vw!important;
}
