<nav>
  <div class="nav-wrapper">
    <form>
      <div class="input-field center-align">
        <input id="search" type="search" required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>
  </div>
</nav>
<div class="row">
  <div class="col s12 l6 offset-l4 community">
    <ul class="collection">
      <li ng-repeat="community in communitys track by $index" ng-click="addCommunity(community._id)" class="collection-item">{{community.name}}
      </li>
    </ul>

  </div>

</div>
