<h1>Hello World</h1>
<p>help</p>

<div class="row">
  <div class="input-field col s4">
    <ul class="collection">
     <li class="collection-item avatar">
       <img src="img/foot.jpg" alt="" class="circle">
       <p>Foot de rue<br>
       </p>
     </li>
     <li class="collection-item avatar">
      <img src="img/echec.jpg" alt="" class="circle">
       <p>Echecs<br>
       </p>
     </li>
     <li class="collection-item avatar">
       <img src="img/foot.jpg" alt="" class="circle">
       <p>Tennis de rue<br>
       </p>
     </li>
     <li class="collection-item avatar">
       <img src="img/foot.jpg" alt="" class="circle">
       <p>Ping pong de rue<br>
       </p>
     </li>
   </ul>
    </div>
  </div>
</div>
