
<div class="row">
  <form class="col s12 l6 offset-l4 login" name="loginForm" novalidate ng-submit="login()">
    <div ng-repeat="error in errors">{{error.error}}</div>
    <div class="row">
      <div class="input-field col s11 l6 ">
        <i class="material-icons prefix">mail</i>
        <input id="email" type="email" class="form-control" ng-model="user.email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 l6 ">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" class="form-control" ng-model="user.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <a id="submit" ng-click="login()" type="submit" class="waves-effect waves-teal btn ">Register</a>
      </div>
    </div>
  </form>
</div>
