<div class="row">
  <div class="welcomeLogin background z-depth-3">
    <h1 class="titre center-align">KingPong</h1>

  </div>
</div>
<div class="row">
  <form class="col s12 offset-l4 l4 login" name="loginForm" novalidate ng-submit="login()">
    <div ng-repeat="error in errors">{{error.error}}</div>
    <div class="row">
      <div class="input-field col s11 offset-l1 l10 ">
        <i class="material-icons prefix">mail</i>
        <input id="email" type="email" class="form-control" ng-model="user.email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 offset-l1 l10 ">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="{{inputType}}" class="form-control" ng-model="user.password" required>
        <span class="hide-on-small-only"><a id="revealPassword" href ng-click="showPassword()"><i class="material-icons">remove_red_eye</i></a></span>
        <label  for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col col s12 offset-l1 l10">
        <a id="submit" ng-click="login()" type="submit" class="waves-effect waves-teal btn ">Login</a>
      </div>
    </div>
  </form>
</div>
<footer>
  <div class="row">
    <div class="col s12 offset-l4 l4 center-align">
      <ul>
        <li>Vous n’avez pas de compte?</li>
        <li><a class="center-align" ui-sref='anon.register'>Inscrivez-vous</a></li>
      </ul>
    </div>
  </div>
</footer>
