<div class="row">
  <div class="welcomeRegister background z-depth-3">
    <h2 class="titre center-align ">KingPong</h2>
    <p>Pariatur exercitation id excepteur occaecat et labore eu labore reprehenderit ad et esse id in proident. Esse consectetur consectetur mollit adipisicing laborum adipisicing incididunt elit do exercitation.</p>
  </div>
</div>
<div class="row">
  <form class="col s12 offset-l4 l4 register" name="loginForm" novalidate ng-submit="register()">
    <div ng-repeat="error in errors">{{error.error}}</div>
    <div class="row">
      <div class="input-field col s11 offset-l1 l10  ">
        <i class="material-icons prefix">account_circle</i>
        <input id="pseudo" type="text" class="form-control" ng-model="user.pseudo" required>
        <label for="pseudo">Pseudo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 offset-l1 l10  ">
        <i class="material-icons prefix">mail</i>
        <input id="email" type="email" class="form-control" ng-model="user.email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 offset-l1 l10  ">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" class="form-control" ng-model="user.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col col s12 offset-l1 l10 ">
        <a id="submit" ng-click="register()" type="submit" class="waves-effect waves-teal btn ">Register</a>
      </div>
    </div>
  </form>
</div>
<footer>
  <div class="row">
    <div class="col s12 offset-l4 l4 center-align">
      <ul>
        <li>Vous avez un compte ?</li>
        <li><a class="center-align" ui-sref='anon.login'>Connectez-vous</a></li>
      </ul>
    </div>
  </div>
</footer>
