<div class="row">
  <div class="welcome">
    <h2 class="titre center-align">KingPong</h2>
    <p>Pariatur exercitation id excepteur occaecat et labore eu labore reprehenderit ad et esse id in proident. Esse consectetur consectetur mollit adipisicing laborum adipisicing incididunt elit do exercitation. Irure cillum cillum anim voluptate voluptate
      dolore anim amet excepteur id do.</p>
  </div>

</div>

<div class="row">
  <form class="col s12 l6 offset-l4 register" name="loginForm" novalidate ng-submit="register()">
    <div ng-repeat="error in errors">{{error.error}}</div>
    <div class="row">
      <div class="input-field col s11 l6  ">
        <i class="material-icons prefix">account_circle</i>
        <input id="pseudo" type="text" class="form-control" ng-model="user.pseudo" required>
        <label for="pseudo">Pseudo</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 l6 ">
        <i class="material-icons prefix">mail</i>
        <input id="email" type="email" class="form-control" ng-model="user.email" required>
        <label for="email">Email</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s11 l6 ">
        <i class="material-icons prefix">vpn_key</i>
        <input id="password" type="password" class="form-control" ng-model="user.password" required>
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="col s12 l6">
        <a id="submit" ng-click="register()" type="submit" class="waves-effect waves-teal btn ">Register</a>
      </div>
    </div>
  </form>
</div>




<!-- <div class="row">
    <div class="col-xs-6 col-xs-offset-3">
        <form class="form" name="loginForm" novalidate ng-submit="register()">
            <div ng-repeat="error in errors">{{error.error}}</div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input id="email" type="email" class="form-control" ng-model="user.pseudo" required placeholder="Pseudo">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="material-icons">email</i>
                <input id="email" type="email" class="form-control" ng-model="user.email" required placeholder="Email Address">
            </div>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" ng-model="user.password" required placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary btn-block">Register</button>
        </form>
    </div>
</div> -->
