<div style="border-top: 2px solid grey; background-color: silver;width: 100%;heigth:80px;">
  <p style="text-align:center;margin-bottom:40px;"><b style="font-size:2em">KingPong</b> Entertainement <em>#wildCodeSchool</em>  <img style="position:relative; margin-left: 250px;" src="http://forthebadge.com/images/badges/built-with-love.svg" alt="love"></p>

</div>
