<nav>
    <div class="nav-wrapper">
        <ul>
            <li>
                <i class="material-icons" ng-click="navigateBefore()">navigate_before</i>
            </li>
            <div class="valideButton">
                <li>
                    <i ng-click="valide()">Valide</i>
                </li>
            </div>
        </ul>
    </div>
</nav>
<div class="cadre">
    <md-subheader class="md-no-sticky">
        <div class="photoCat">
            <img src=img/{{activity.photo}}.jpg alt="" class="circleDefi">
            <p>{{activity.activityName}}</p>
        </div>
    </md-subheader>
</div>
<form>
    <div class="blocInput6">
        <div class="row">
            <p>Description</p>
            <div class="inputcolor">
                <input disabled id="description" type="text" ng-model="activity.description">
            </div>
        </div>
    </div>
    <div class="blocInput6">
        <div class="row">
            <p>Règle du resultat</p>
            <input disabled id="resultRule" type="text" ng-model="activity.resultRule">
        </div>
    </div>
    </div>
    <div class="blocInput6">
        <div class="row">
            <p>Nombre d'équipe</p>
            <div class="input-field col s12">
                <input disabled id="teamNumber" type="text" class="validate" ng-model="activity.numberOfTeam">
            </div>
        </div>
    </div>
    <div class="blocInput6">
        <div class="row">
            <p>Nombre de joueur par équipe</p>
            <div class="input-field col s12">
                <input disabled id="playerNumber" type="text" class="validate" ng-model="activity.numberOfplayer">
            </div>
        </div>
    </div>
    <div class="blocInput6">
        <div class="row">
            <p>Durée moyenne</p>
            <div class="input-field col s12">
                <input disabled id="averageLast" type="text" class="validate" ng-model="activity.duration">
            </div>
        </div>
    </div>
    </div>
</form>
