<nav>
    <div class="nav-wrapper">
        <i class="material-icons" ng-click="goToHome()">close</i></label>
        <form>
            <i class="material-icons">close</i>
    </div>
    <div class="cadre">
        <md-subheader class="md-no-sticky">
        </md-subheader><br>
    </div>
    </form>
    </div>
</nav>
<div class="cadre">
    <md-subheader class="md-no-sticky">
        <div class="photoCat">
            <img src="img/echec.jpg" alt="" class="circle">
        </div>
    </md-subheader><br>
</div>
<br><br>
<div class="row">
    <form class="col s12">
        <ul class="collection">
            <li ng-repeat="x in challenges">
                <li class="collection-item">
                    <span class="title">Date</span>
                    <div class="row">
                        <div class="col s12 grey-text text-lighten-1">
                            <p>{{challenges.date}}
                            </p>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <span class="title ">Durée</span>
                    <div class="row">
                        <div class="col s12 ">
                            <p class="grey-text text-lighten-1">{{challenges.duration}}h</p>
                        </div>
                    </div>
                </li>

                <li class="collection-item">
                    <span class="title">Activité</span>
                    <div class="row">
                        <div class="col s6">
                            <p class="grey-text text-lighten-1">{{challenges.activity}}</p>
                        </div>
                        <div class="col s6">
                            <a href="#!" class="secondary-content"><i class="material-icons">k<i class="material-icons">keyboard_arrow_right</i></i></a>
                        </div>
                    </div>
                </li>
                <li class="collection-item">
                    <span class="title">Lieu</span>
                    <div class="row">
                        <div class="col s12 grey-text text-lighten-1">
                            <p>{{challenges.place}}</p>
                            <a href="#!" class="secondary-content"></a>
                        </div>
                    </div>
                </li>
                <li class="participants">
                    <span class="title">Participants</span>
                </li>
                </br>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <span class="team grey-text text-lighten-1">Equipe 1</span>
                            </br>
                            </br>


                            <div class="chip">
                                <img src="./img/olive.jpg" alt="Contact Person"> Olive
                            </div>
                            <div class="chip">
                                <img src="./img/olive.jpg" alt="Contact Person"> Tom
                            </div>

                        </div>
                    </div>
                </li>
                </br>
                <li class="collection-item">
                    <div class="row">
                        <div class="col s12">
                            <span class="team grey-text text-lighten-1">Equipe 2</span>
                            </br>
                            </br>

                            <!-- <div class="row">
    <div class="col s12"> -->
                            <div class="chip">
                                <img src="./img/olive.jpg" alt="Contact Person"> Olive
                            </div>
                            <div class="chip">
                                <img src="./img/olive.jpg" alt="Contact Person"> Tom
                            </div>

                        </div>
                    </div>
                </li>
        </ul>
</div>
</div>
</div>
<div class="validationInvite">
    <div class="row">
        <div class="col s2 offset-s8">
            <a class="refuser" href data-target='modal1'>REFUSER</a>
        </div>
        <div class="col s2">
            <a class="refuser" href data-target='modal2'ng-click="addToChallenge(user._id)">ACCEPTER</p>
      </div>
</div>

<div class="row section">
  <div class="col">
    </div>
    </div>
    <!-- Modal Structure annuler-->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>Refuser l'invitation</h4>
            <p>Etes vous sûre de vouloir refuser l'invitation ?</p>
        </div>
        <div class="modal-footer">
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Annuler</a>
            <a class=" modal-action modal-close waves-effect waves-green btn-flat">Refuser</a>
        </div>
    </div>
    <!--Modal Structure Refuser-->
    <div id="modal2" class="modal">
        <div class="modal-content">
            <h4>Choix de l'équipe</h4>
        </div>
        <ul class="collection">
  <a class="collection-item">Equipe 1</a>
  <a class="collection-item">Equipe 2</a>

</ul>
    </div>



</div>
</form>
