<nav>
    <div class="nav-wrapper">
        <i class="material-icons" ng-click="goToHome()">close</i></label>
        <form>
            <i class="material-icons">close</i>
    </div>
    </form>
    </div>
</nav>
<div class="cadre">
    <md-subheader class="md-no-sticky">

        <img src="img/carlin.jpg" alt="" class="circle">
        <p>Créer un nouveau défi</p>

    </md-subheader><br>
</div>
<br><br>
<div class="blocEntier">

        <button class="btn blue" type="button" ng-click="sendChallenge()"><span>Creer le défi</span></button>
    </div>
    </form>
