<nav>
    <div class="nav-wrapper">
        <ul>
            <li>
                <i class="material-icons" ng-click="navigateBefore()">navigate_before</i>
            </li>
            <li>
                <i class="validate" ng-click="valide()">Valide</i>
            </li>
        </ul>
    </div>
</nav>
<div class="cadre">
      <md-subheader class="md-no-sticky">

          <img src="img/carlin.jpg" alt="" class="circle">
          <p>Créer une nouvelle activité?</p>

      </md-subheader><br>
  </div>
</div>
<md-list>
    <div class="row">
        <form class="col s12">
            <label for="activity">Activité</label>
            <div class="row">
                <div class="input-field col s12">
                    <input id="activity" type="text" class="active" ng-model="activity">
                </div>
            </div>
            <label for="photo">photo</label>
            <div class="row">
                <div class="input-field col s12">
                    <md-select placeholder="choisir le type de photo" ng-model="photo">
                        <md-option ng-repeat="photo in photos" value="{{photo.value}}">{{photo.name}}</md-option>
                    </md-select>
                </div>
            </div>
            <div class="row">
                <form class="col s12">
                    <label for="description">Description</label>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="description" type="text" class="active" ng-model="description">
                        </div>
                    </div>
                    <label for="resultRule">Règle du resultat</label>
                    <div class="row">
                        <div class="input-field col s12">
                            <md-select placeholder="Indiquer la règle du résultat" ng-model="resultRule">
                                <md-option ng-repeat="resultRule in resultRules" value="{{resultRule}}">{{resultRule}}</md-option>
                            </md-select>
                        </div>
                    </div>

                    <label for="teamNumber">Nombre d'équipe</label>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="teamNumber" type="text" class="validate" ng-model="teamNumber">
                        </div>
                    </div>
                    <label for="playerNumber">Nombre de joueur par équipe</label>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="playerNumber" type="text" class="validate" ng-model="playerNumber">
                        </div>
                    </div>
                    <label for="averageLast">Durée moyenne</label>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="averageLast" type="text" class="validate" ng-model="averageLast">
                        </div>
                    </div>
            </div>
            </form>
</md-list>
