<nav>
    <div class="nav-wrapper">
        <ul>
            <li>
                <i class="material-icons" ng-click="goToHome()">navigate_before</i>
            </li>
            <div class="valideButton" ng-if="array.length > 0">
                <li>
                    <i ng-click="addInvite()">Valide</i>
                </li>
            </div>
        </ul>
    </div>
</nav>
<div class="row">
    <div class="col s12 offset-l4 l4">
        <md-subheader class="md-no-sticky">
            <img src="{{user.avatar}}" alt="" class="circleDefi">
            <p>Créer un nouveau défi</p>
        </md-subheader><br>
    </div>
</div>
    <div class=" row ng-show" style="margin-top:40px" ng-hide="myVarBefore">
        <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1 ">
            <input id="activity" type="text" class="active" ng-click="filterActivity()" ng-model="activity.activityName">
            <span><i class="material-icons arrow" ng-click="filterActivity()">keyboard_arrow_right</i></span>
            <label class="active" for="activity">Activité</label>
        </div>

        <!-- Calendrier datepicker -->

        <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1 ">
            <div layout-gt-xs="row">
                <div flex-gt-xs>
                    <md-datepicker md-min-date="currentDate" ng-model="myDate"></md-datepicker>
                    <label class="active" for="start">date de Début</label>
                </div>
            </div>
        </div>

        <div class="greyBorder listHeight col offset-s1 s11 offset-l4 l4 blocInput1  ">
            <label for="timepicker">Heure</label>
            <md-time-picker no-meridiem ng-model="startTime">
                <label class="active" for="start">Heure</label>
            </md-time-picker>
        </div>

        <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1  ">
            <md-select placeholder="Combien de temps durera le défi" ng-model="duration">
                <md-option ng-repeat="duration in durations" value="{{duration}}">{{duration}}</md-option>
            </md-select>
            <label class="active">Durée</label>
        </div>

        <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1">
            <input placeholder="Dans quelle ville aura lieu le défi" id="where" type="text" class="validate" ng-model="lieu">
            <label class="active" for="where">Lieu</label>
        </div>
        <div class="bloc-participant" ng-show="activity.activityName">
            <div class="greyBorder input-field col s12 offset-l4 l4 blocInput1">
                <div class="bckgrd-participant">
                    <p>Participants</p>
                </div>
            </div>

            <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1">
                <label class="active" for="nbGroupe">Nombre de groupe</label>
                <input id="nbGroupe" type="number" ng-model="activity.numberOfTeam">
            </div>
            <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1">
                <label class="active" for="nbParticipantGroupe">Nombre de participants par groupe</label>
                <input id="nbParticipantGroupe" type="number" ng-model="activity.numberOfplayer">
            </div>
            <div class="inviteHeightAuto">
            <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4">
                <h>Invitations</h>
                <br>
                <label for="invit"></label>
                <ul class="inlineInvite" ng-repeat="user in invite" ng-model='invite'>
                    <li>
                        <div class="chip">
                            <img src="{{user.avatar}}" alt="Contact Person"> {{user.pseudo}}
                        </div>
                    </li>
                </ul>
                <div class="inviteNavigate">
                    <i class="material-icons" ng-click="toggle()">keyboard_arrow_right</i>
                </div>
            </div>
          </div>
            <br>



            <div class="bckgrd-bouton col s12 offset-l4 l4">
                <div ng-if="startTime && activity.activityName && myDate  && duration && lieu && activity.numberOfTeam && activity.numberOfplayer && invite" class="btnblue">
                    <button class="btn blue darken-1" type="button" ng-click="sendChallenge()"><span>Creer le défi</span></button>
                </div>

            </div>
        </div>
      </div>
        <div class="row">

      <div class="greyBorder input-field col offset-s1 s11 offset-l4 l4 blocInput1">
        <md-list-item class="md-3-line" ng-repeat="guest in communitys| filter: filtre">
            <div class="md-list-item-text">
                <div id="inviteAlign" ng-show="myVarBefore">
                    <div classs="inviteAvatar">
                        <img src="{{guest.avatar}}" class="circle" alt="">
                    </div>
                    <div class="invitePseudo">
                        {{guest.pseudo}}
                    </div>
                    <div class="checkBox">
                        <p>
                            <input type="checkbox" id="{{guest.pseudo}}" ng-change="check(guest.isChecked, guest._id)" ng-model="guest.isChecked" />
                            <label for="{{guest.pseudo}}"></label>
                        </p>
                    </div>
                </div>
            </div>
        </md-list-item>
      </div>
    </div>
