<nav>
  <div class="nav-wrapper">
    <ul>
      <li>
        <i class="material-icons" ng-click="navigateBefore()">navigate_before</i>
      </li>
      <li>
        <i class="validate" ng-click="valide()">Valide</i>
      </li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s12 offset-l4 l4 blocInput1 ">
<div class="cadre">
  <md-subheader class="md-no-sticky">
    <img src="img/carlin.jpg" alt="" class="circle">
    <p>Créer une nouvelle communauté</p>
  </md-subheader><br>
</div>
<div class="blocEntier">


        <input id="communityName" type="text" class="validate" ng-model="communityName">
        <label for="communityName">Nom de la communauté</label>

  </div>

      <input id="communityPlace" type="text" class="validate" ng-model="communityPlace">
      <label for="communityPlace">Lieu de la communauté</label>
    </div>
  </div>
