<nav>
    <div class="nav-wrapper">
      <form>
          <label class="label-icon" for="close"><i class="material-icons">close</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
<a class="btn-floating btn-large waves-effect waves-light blue">+</a>
<br><br>
<div class="row">
    <form class="col s12">
              <label for="activity">Choisir son activités</label>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Activités" id="activity" type="text" class="active" ng-click="filterActivity()" ng-model="activity" >
            </div>
        </div>
        <!-- Calendrier datepicker -->
        <label for="start">Début</label>
        <div class="row">            <div class="input-field col s12">
                <div layout-gt-xs="row">
                    <div flex-gt-xs>
                        <md-datepicker ng-model="myDate" md-placeholder="Saisir la date"></md-datepicker>
                    </div>
                </div>
            </div>
        </div>
        <label for="duration">Durée</label>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Combien de temps durera le défi" id="duration" type="text" class="validate">
            </div>
        </div>
        <label for="where">Lieu</label>
        <div class="row">
            <div class="input-field col s12">
                <input placeholder="Dans quelle ville se déroulera le défi" id="where" type="text" class="validate">
            </div>
        </div>
<button ng-click="add()"class="btn blue" type="button"><span>   Creer le défi    </span></button>
</div>

</form>
