<nav class="nav-extended">
  <div class="col s12">
    <div class="nav-wrapper">
      <!-- <select class="brand-logo select">
      <option value="" disabled selected>{{community[index].name}}</option>
      <option ng-repeat="community in communitys track by $index"
           value="$index">{{community.name}}</option>

    </select> -->
      <select class="brand-logo select center" ng-options="value.community for community in communitys" ng-model="community" ng-change="selected(community)">
    <option

            value="{{index}}">
      {{community}}
    </option>
</select>
<a href class="button-collapse md-primary right" ng-click="toggleRight()" ng-hide="isOpenRight()"><i class="material-icons">menu</i></a>
    </div>
    <div class="nav-content center-align">
      <ul class="tabs tabs-transparent center-align">
        <li class="tab center-align"><a href="#test1">Defi</a></li>
        <li class="tab center"><a class="active" href="#test2">Classement</a></li>
      </ul>
    </div>
  </div>
</nav>
<div ng-cloak>

  <section layout="row" flex>

    <md-sidenav class="md-sidenav-right md-whiteframe-4dp" md-component-id="right">

      <md-toolbar class="md-theme-light">
        <h2 class="md-toolbar-tools">Sidenav Right</h2>
      </md-toolbar>
      <md-content layout-padding>
        <form>
          <md-input-container>
            <label for="testInput">Test input</label>
            <input type="text" id="testInput" ng-model="data" md-autofocus>
          </md-input-container>
        </form>
        <md-button ng-click="close()" class="md-primary">
          Close Sidenav Right
        </md-button>
      </md-content>

    </md-sidenav>

  </section>

</div>



<div class="invitation">
  <h1>Invitation</h1></div>
<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-item " href="#one!">
    <div class="card">
      <div class="challenge" ng-repeat="media in challenge">
        <img class="activator" ng-src="{{challenge.url}}">
      </div>
      <div class="card-content">

      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
  <div class="carousel-item " href="#two!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/boardGames.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

  </div>
  <div class="carousel-item " href="#three!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/ping-pong.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

  <div class="carousel-item" href="#four!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/jeuxVideo.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div>
</div>

<div class="row">

  <div class="col s6 arbitrage">
    <h1>Arbitrage</h1></div>
  <div class="col s6 flotingButton">
    <a class="btn-floating btn-large waves-effect waves-light blue">
      <i class="material-icons">add</i></a>
  </div>
</div>




<div class="arbitrage">
</div>
<div class="carousel carousel-slider center" data-indicators="true">

  <div class="carousel-item " href="#one!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/foot.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>




  </div>
  <div class="carousel-item " href="#two!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/boardGames.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>

  </div>
  <div class="carousel-item " href="#three!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/ping-pong.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>

  <div class="carousel-item" href="#four!">
    <div class="card">
      <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src="./img/jeuxVideo.jpg">
      </div>
      <div class="card-content">
        <span class="card-title activator grey-text text-darken-4">Card Title<i class="material-icons right">more_vert</i></span>
        <p><a href="#">This is a link</a></p>
      </div>
      <div class="card-reveal">
        <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
        <p>Here is some more information about this product that is only revealed once clicked on.</p>
      </div>
    </div>
  </div>
</div>

</div>
