<nav class="">
    <div class="nav-wrapper">

        <form>
            <div class="input-field center ">
                <input id="search" type="search" ng-model='filter' required>
                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                <i class="material-icons">close</i>
            </div>
        </form>
    </div>
</nav>
<md-toolbar layout="row" class="md-hue-3 ">
    <div class="md-toolbar-tools toolbar">
        <ul>
            <li><a href ui-sref='user.home'><i class="material-icons prefix">close</i></a></li>
        </ul>
        <h5 id="communityTitle">invités</h5>
    </div>
</md-toolbar>
<br>
<!-- <div ng-repeat="community in communitys">

  <input type="checkbox" checklist-model="community" id="{{community.pseudo}}" checklist-value="community.pseudo"> <h1>{{community.pseudo}}</h1>
  <label for="{{community.pseudo}}"></label>
</label>
</div> -->

<md-list-item class="md-2-line" ng-repeat="community in communitys" )>
    <div class="md-list-item-text">
        <div class="inviteAlign">
            <div classs="inviteAvatar">
                <img src="{{community.avatar}}" class="circle" alt="">
            </div>
            <div class="invitePseudo">
                    <div>
                        {{community.pseudo}}
                      </div>
                            <div>
                              <p>
                                <input type="checkbox" id="{{community.pseudo}}" ng-model="invite"/>
                                <label for="{{community.pseudo}}"></label>
                          </p>
                        </div>
                        </div>
                      </div>
                    </div>
</md-list-item>
</md-list>
<div class="fixed-action-btn" ng-if="communityParam !=0">
    <a ui-sref='user.inv' class="btn-floating btn-large customPurple z-depth-4" ng-click="addInvite()">
        <i class="large material-icons ">add</i>
    </a>
</div>
