<md-dialog>
  <md-dialog-content>
  <div class="row">
    <div class="col s12 offset-l4 l4">
      <div class="input-field col offset-s1 s11 offset-l1 l10 margeTeam">
        <md-list-item id='{{team.name}}' class="col s12 greyBorder teamArbitrage" ng-repeat="team in challenge.teams">
          <label for="{{team.name}}" class="active">team {{team.name}}</label class ="active">
        <div class="chip inlineInvite" ng-repeat="player in team.players">
            <img src="{{player.avatar}}" alt="Contact Person"> {{player.pseudo}}
          </div>
      </md-list-item>
    </div>
  </div>
</div>
<div class="row">
  <h2>Equipe gagnante</h2>
  <div class=" col offset-s1 s9 offset-l1 l10 ">
  </md-dialog-content>
  <!-- <md-dialog-actions>
    <md-select placeholder="choisir le gagnant" ng-model="team">
      <md-option ng-repeat="team in teams" value="{{team}}">Equipe {{team.name}}</md-option>
      <md-option value=""> Match nul</md-option>
    </md-select>
  </md-dialog-actions>
  </div>
</div> -->
</md-dialog>
