<nav class="">
  <div class="nav-wrapper">

    <form>
      <div class="input-field center ">
        <input  id="search" type="search" ng-model='filtre' required>
        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
        <i class="material-icons">close</i>
      </div>
    </form>

  </div>
</nav>
<div class="cadre">
  <md-subheader class="md-no-sticky"><b>Activités</b></md-subheader><br>
</div>
<div class="row">
  <div class="col s12">

    <md-list>
      <ul class="collection">
        <li class="collection-item" ng-repeat="activ in activity | filter: filtre">
          <div class="md-list-item-text compact" ng-click="addActivity(activ)">{{activ.activityName}}
        </li>
      </ul>
    </md-list>

    <div class="fixed-action-btn">
      <a class="btn-floating btn-large customPurple z-depth-4" ng-click="createNewActivity()">
                      <i class="large material-icons ">add</i>
                    </a>
    </div>

    </div>
</div>
</div>
